<div class="fullpage">
    <app-header></app-header>
    <h2 class="subtitle title-font">Contact</h2>
    <div class="send-email">
        <div class="book">
            <img src=" https://i.ibb.co/brt8Hxd/livreIN.webp"
                srcset="https://i.ibb.co/dLb8CLZ/livreFP.webp 2400w,
                        https://i.ibb.co/brt8Hxd/livreIN.webp 1200w,
                        https://i.ibb.co/NSCfqJR/livreSM.webp 600w"
                sizes="40vw"
                alt="Vieux grimoire"
                id="book">
        </div>
        <div class="contact-form">
            <div>
                <h4>FEENIXIA-VOYANCE-ENERGIE</h4>
                <p class="mailing">mailing@feenixia.fr</p>
            </div>
            <form [formGroup]="form" (ngSubmit)="onSubmit($event)" class=" text-font">
              <div class="formulaire">
                <label class="name-zone">
                  Votre nom:<br>
                  <input type="string" formControlName="name" class="name-email">
                </label>
                <br>
                <label class="email-zone">
                    Votre email:<br>
                    <input type="email" formControlName="email" class="name-email">
                  </label>
                  <br>
                <label class="message-zone">
                  Votre message:<br>
                  <!-- <input type="string" formControlName="message" class="message"> -->
                  <textarea type="string" formControlName="message" class="message" rows="5" cols="33">
                    Votre texte ici...
                  </textarea>
                </label>
                <br>
              </div>
              <div>
                <button type="submit" class="cta">Envoyer</button>
              </div>
              </form>
        </div>
    </div>
</div>

<ng-toast></ng-toast>