@import '../../../styles/mixins';
@import '../../../styles/global-styles';

.fullpage{
    @include fullpage;
}
.subtitle{
    @include subtitle;
}
.title-font{
    @include title-font;
}
.cta{
    @include cta;
}
.valid-cta{
    @include valid-cta;
}

.send-email{
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
.book-container{
    width: 40vw;
    height: 60vh;
}
.book-img{
    width: 40vw;
    height: auto;
}
.contact-form{
    width: 50vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.mailing{
    text-align: center;
}
.formulaire{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    font-size: 24px;
}
.name-zone{
    height: 8vh;
}
.email-zone{
    height: 8vh;
}
.message-zone{
    height: 20vh;
}
.name-email{
    width: 400px;
    height: 20px;
    border-radius: 5px;
}
.message{
    width: 400px;
    height: 120px;
    overflow-y: auto;
    border-radius: 5px;
}
h4{
    font-size: 24px;
}
