@import "../../../styles.scss";

.contct{
    width: 100vw;
    height: 100vh;
}
.send-email{
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
.book{
    width: 40vw;
    height: 60vh;
}
#book{
    width: 40vw;
    height: auto;
}
.contact-form{
    width: 50vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}
.mailing{
    text-align: center;
}
// form{
//     display: flex;
//     flex-direction: column;
//     flex-wrap: wrap;
//     justify-content: space-around;
//     align-items: center;
// }
.formulaire{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    font-size: 24px;
}
.name-zone{
    height: 10vh;
}
.email-zone{
    height: 10vh;
}
.message-zone{
    height: 25vh;
}
.name-email{
    width: 400px;
    height: 20px;
    border-radius: 5px;
}
.message{
    width: 400px;
    height: 120px;
    overflow-y: auto;
    border-radius: 5px;
}
  .cta{
    background-color: $contrast;
    color: $darkmain;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 40px;
    margin-right: 60px;
  }
h4{
    font-size: 24px;
}
