<div class="fullpage">
    <app-header></app-header>
    <h2 class="subtitle title-font">Contact</h2>
    <div class="send-email">
        <div class="book">
            <img src="https://i.ibb.co/zmrvmmW/spiritIN.webp"
                srcset="https://i.ibb.co/SQNYd2R/spiritFP.webp 2400w,
                        https://i.ibb.co/zmrvmmW/spiritIN.webp 1200w,
                        https://i.ibb.co/NrXTZM7/spiritSM.webp 600w"
                sizes="40vw"
                alt="Vieux grimoire"
                id="book">
        </div>
        <div class="contact-form">
            <h4>FEENIXIA-VOYANCE-ENERGIE</h4>
            <p>mailing@feenixia.fr</p>
            <form class="formulaire">
                <label>Votre nom: </label>
                <input>
                <label>Votre email: </label>
                <input>
                <label>Votre message: </label>
                <input>
            </form>
        </div>
    </div>
</div>