<div class="fullpage">
    <app-header></app-header>
    <h2 class="subtitle title-font">Qui suis je?</h2>
    <div class="content">
        <div class="description text-font">
            <div class="inner-text">
                <div class="margin-text">
                Clairvoyante, empathe et haut potentiel, depuis toute petite je ne me sentais pas à ma place.<br>
                Comprendre, ressentir et expliquer les blessures, douleurs des autres et les aider à y voir plus clair a toujours été naturel pour moi mais sans réellement savoir pourquoi.<br>
                Après m’être longtemps cherché et avoir hésité, j’ai enfin choisit de mettre mes capacités au service des autres pour les accompagner vers l’acceptation, la confiance, la compréhension de leur vie mais aussi à découvrir l’amour et la beauté de ce monde invisible de la spiritualité.<br>

                <p [ngStyle]="{'text-align': 'center'}">"Mon parcours</p><br>
                Ouverte au monde invisible depuis mon plus jeune âge, je suis née dans une famille standard qui avait les pieds bien sur terre alors que j’ai toujours eu la tête dans les étoiles.<br>
                Après une formation atypique, j’ai effectué divers emplois qui m’ont permis d’apprendre sur mon fonctionnement et de nourrir ce besoin d’apprendre des autres et de les aider également.<br>
                En 2016, j’ai eu un gros pic d’évolution personnelle et d’ouverture spirituelle, comme si toutes mes capacités existantes depuis toutes petites en avaient assez d’être misent en cage de par le coté terre à terre que j’essayais de garder croyant que c’était mieux pour moi.<br>
                Au même moment l’univers a mis sur mon chemin de belles personnes qui m’ont soutenue et aider à comprendre tout cela. Ces personnes m’ont aussi appris à me faire confiance, à suivre mon intuition, analyser les signes et écouter mes guides.<br>
                La perte d’un être cher m’a également permis de changer ma vision sur la mort et comprendre que la fin n’en est pas une car les défunts restent présent pour nous accompagner et nous soutenir dans le monde invisible.<br>
                Cette personne qui était très importante à mes yeux m’a guidé et appris tellement après son départ que la peur de tout ce qui n’est pas explicable par la logique a totalement disparue.<br>
                C’est avec joie et plaisir que je me consacre désormais à être un intermédiaire d’âme à âme et à apporter aux autres les réponses qu’ils cherchent ainsi que les outils à la guérisons de leurs blessures, ce qui permet de leurs faire prendre conscience qu’ils sont aussi spirituels et précieux à ce monde.<br>
                </div>
            </div>
        </div>
        <div class="identite">
            <img src="https://i.ibb.co/2PvTmRs/sorciere-IN.webp"
                srcset="https://i.ibb.co/2PvTmRs/sorciere-FP.webp 2400w,
                        https://i.ibb.co/2PvTmRs/sorciere-IN.webp 1200w,
                        https://i.ibb.co/2PvTmRs/sorciere-SM.webp 600w"
                sizes="20vw"
                alt="Ma représentation"
                id="dessin">
        </div>
    </div>
</div>