@import '../../../styles/mixins';
@import '../../../styles/global-styles';

.fullpage{
  @include fullpage;
}
.subtitle{
  @include subtitle;
}
.title-font{
  @include title-font;
}

.fullpage{
    overflow-y: scroll;
}
.all-cards{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.all-cards app-headband:nth-child(odd) div{
  flex-direction: row;
}
.all-cards app-headband:nth-child(even) div{
  flex-direction: row-reverse;
}
.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }