@import '../../../styles/mixins';
@import '../../../styles/global-styles';

.fullpage{
    @include fullpage;
}
.subtitle{
    @include subtitle;
}
.title-font{
    @include title-font;
}
.white-background{
    @include white-background;
}
.cta{
    @include cta;
}
.valid-cta{
    @include valid-cta;
}

.fullpage{
  overflow-y: auto;
}
.magnetisme{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
    padding: 20px;
    margin: 20px 15vw 20px 15vw;
}
.magnetisme img{
    width: 250px;
    height: auto;
}
.description{
    padding: 20px;
}