<div class="fullpage">
    <app-header></app-header>
    <h2 class="subtitle title-font">Les guidances</h2>
    <div class="all-magnetisme">
        <div class="magnetisme white-background">
            <img src="https://i.ibb.co/yNR2JbQ/magnetisme-IN.webp">
            <div class="description">
                <p>
                    Le magnétisme énergétique permet de rééquilibrer les énergies de votre corps et donner un coup de boost.
                    Le soin s’effectue à distance sur photo.
                    Si vous vous sentez fatigué et videz de votre énergie actuellement alors cette prestation est pour vous.
                </p>
                <span>Magnétisme énergétique : 30€ la séance</span><button class="cta valid-cta">Ajouter au panier</button>
            </div>
        </div>

        <hr>

        <div class="magnetisme white-background">
            <img src="https://i.ibb.co/yNR2JbQ/magnetisme-IN.webp">
            <div class="description">
                <p>
                    Ce magnétisme, à distance sur photo, est un soin que je prodigue à vos compagnons poilus afin de les aider dans leurs petites douleurs et dans leurs énergies corporelles générales.
                </p>
                <span>Magnétisme animal : 30 € la séance</span><button class="cta valid-cta">Ajouter au panier</button>
            </div>
        </div>

        <hr>

        <div class="magnetisme white-background">
            <img src="https://i.ibb.co/yNR2JbQ/magnetisme-IN.webp">
            <div class="description">
                <p>
                    De par le magnétisme, mais aussi avec l’aide du pendule et de certaines plantes, il est possible de nettoyer les énergies négatives cumulés, ou faire partir les résidus des âmes de nos défunts qui à la longue ou non nous dérangent et perturbent nos propres énergies.
                    Le Nettoyage permet de retrouver une ambiance sereine et chaleureuse au sein du foyer.
                    Le travail se fait à distance avec simplement un plan réel ou à main levée de votre domicile plus quelques informations supplémentaires.
                </p>
                <span>Le Nettoyage énergétique des lieux : 50 € la séance</span><button class="cta valid-cta">Ajouter au panier</button>
            </div>
        </div>
    </div>
</div>