<div class="fullpage">
    <app-header></app-header>
    <h2 class="subtitle title-font">Le magnétisme</h2>
    <div class="all-magnetisme">
        <div  *ngFor="let magnetisme of allMagnetismes">
            <div class="magnetisme white-background">
                <img src={{magnetisme.img}}>
                <div class="description">
                    <p>{{magnetisme.content}}
                    </p>
                    <span>{{magnetisme.title}} : {{formatagePrix(magnetisme.price_cents)}}</span><button (click)="shopping_add(magnetisme.id, magnetisme.title)" class="cta valid-cta">Ajouter au panier</button>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-toast></ng-toast>