<div id="footer">
   <div class="copyright">
    © FEENIXIA 2024
   </div>
   <div>
    <a href="/legalnotice" class="legal-notice">Mentions légales</a>
   </div>
   <div  class="social-link">
      <mat-icon svgIcon="twitter" aria-hidden="false" aria-label="Twitter svg icon"></mat-icon>
      <mat-icon svgIcon="facebook" aria-hidden="false" aria-label="Facebook svg icon"></mat-icon>
      <mat-icon svgIcon="instagram" aria-hidden="false" aria-label="Instagram svg icon"></mat-icon>
     </div>
</div>
