<div id="header">
    <div id="logo">
    </div>
    <nav id="menu" class="legend-font">
        <a class="menu-link" routerLink="/welcome">Accueil</a>
        <a class="menu-link" routerLink="/who">Qui suis je?</a>
        <a class="menu-link" routerLink="/cares">Prestations</a>
        <a class="menu-link" routerLink="/opinions">Témoignages</a>
        <a class="menu-link" routerLink="/contact">Contact</a>
    </nav>
    <div id="icon">
        <a class="menu-link" routerLink="/connexion"><mat-icon title="Se connecter">person</mat-icon></a>
        <!-- <a class="menu-link" routerLink="/shopping"><mat-icon title="Mon panier">shopping_basket</mat-icon></a> -->
        <a class="menu-link" routerLink="/shopping" id="cart">
            <mat-icon title="Mon panier">shopping_basket</mat-icon>
            <div class="badge" id="cart-badge">{{this.nbArticles}}</div>
          </a>
        <a class="menu-link" routerLink="/search"><mat-icon title="Rechercher">search</mat-icon></a>
    </div>
</div>
