<div class="fullpage">
  <app-header></app-header>
  <h2 class="subtitle title-font">Connexion</h2>
  <div class="connexion-form">
      <div class="new white-background">
        <h4>Nouveau sur FEENIXIA</h4>
          <form [formGroup]="formNew" (ngSubmit)="onSubmitNew($event)" class="formulaire text-font">
            <label>
              Votre nom:<br>
              <input type="string" formControlName="username" class="name-email-mdp">
            </label>
            <br>
            <div *ngIf="formNew.get('username')?.errors && formNew.get('username')!.errors!['required']">Le nom utilisateur est requis.</div>
            <div *ngIf="formNew.get('username')?.errors && formNew.get('username')!.errors!['minlength']">Le nom utilisateur doit contenir au moins 6 caractères.</div>
            <div *ngIf="formNew.get('username')?.errors && formNew.get('username')!.errors!['maxlength']">Le nom utilisateur doit contenir au maximum 22 caractères.</div>
            <label>
              Votre email:<br>
              <input type="email" formControlName="email" class="name-email-mdp">
            </label>
            <br>
            <div *ngIf="formNew.get('email')?.errors && formNew.get('email')!.errors!['required']">L'email nom est requis.</div>
            <div *ngIf="formNew.get('email')?.errors && formNew.get('email')!.errors!['minlength']">L'email nom doit contenir au moins 6 caractères.</div>
            <div *ngIf="formNew.get('email')?.errors && formNew.get('email')!.errors!['maxlength']">L'email doit contenir au maximum 100 caractères.</div>
            <div *ngIf="formNew.get('email')?.errors && formNew.get('email')!.errors!['email']">L'email doit être de la forme: nom @ site . extension</div>
            <label>
              Votre mot de passe:<br>
              <input type="password" formControlName="password" class="name-email-mdp">
            </label>
            <br>
            <div *ngIf="formNew.get('password')?.errors && formNew.get('password')!.errors!['required']">Le mot de passe est requis.</div>
            <div *ngIf="formNew.get('password')?.errors && formNew.get('password')!.errors!['minlength']">Le mot de passe doit contenir au moins 6 caractères.</div>
            <div *ngIf="formNew.get('password')?.errors && formNew.get('password')!.errors!['maxlength']">Le mot de passe doit contenir au maximum 22 caractères.</div>
            <div *ngIf="formNew.get('password')?.errors && formNew.get('password')!.errors!['pattern']">Le mot de passe doit contenir au moins une majuscule, une minuscule, un chiffre et un caractère spécial.</div>
            <a routerLink="/connexion">Déja inscrit</a>
            <button *ngIf="formNew.get('name')?.errors || formNew.get('email')?.errors || formNew.get('password')?.errors" class="cta invalid-cta" type="submit">Envoyer</button>
            <button *ngIf="!formNew.get('name')?.errors && !formNew.get('email')?.errors && !formNew.get('password')?.errors" class="cta valid-cta" type="submit">Envoyer</button>
            
          </form>
      </div>
  </div>
</div>

<ng-toast></ng-toast>