@import '../../../styles/mixins';
@import '../../../styles/global-styles';

.fullpage{
    @include fullpage;
}
.subtitle{
    @include subtitle;
}
.title-font{
    @include title-font;
}
.white-background{
    @include white-background;
}
.text-font{
    @include text-font;
}
.cta{
    @include cta;
}
.valid-cta{
    @include valid-cta;
}
.invalid-cta{
    @include invalid-cta;
}

.connexion-form{
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
h4{
    font-size: 24px;
    text-align: center;
}
.new{
    width: 40vw;
    height: 70vh;
    padding: 20px;
}
.old{
    width: 40vw;
    height: 70vh;
    padding: 20px;
}
.formulaire{
    width: 40vw;
    height: 50vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.name-email-mdp{
    width: 400px;
    height: 20px;
    border-radius: 5px;
}