<div class="fullpage">
    <app-header></app-header>
    <h2 class="subtitle title-font">Le bien-être</h2>
    <div class="all-wellbeing">
        <div  *ngFor="let wellbeing of allWellbeings">
            <div class="wellbeing white-background">
                <img src={{wellbeing.img}}>
                <div class="description">
                    <h2>{{wellbeing.title}}</h2>
                    <p>{{processString(wellbeing.content, wellbeing.id)}}
                    </p>
                    <span>{{wellbeing.title}} : {{formatagePrix(wellbeing.price)}}</span><button (click)="shopping_add(this.wellbeing.id, this.wellbeing.title, this.wellbeing.category)" class="cta valid-cta">Ajouter au panier</button>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-toast></ng-toast>