<div class="fullpage">
    <app-header></app-header>
    <h2 class="subtitle title-font">Les guidances</h2>
    <div class="all-wellbeing">
        <div class="wellbeing white-background">
            <img src="https://i.ibb.co/bv7TPPR/bien-etre-IN.webp">
            <div class="description">
                <p>
                    Identifier les blessures du passé et se libérer des blocages que ces blessures nous imposent peut vous permettre de prendre un nouveau départ et de vous sentir plus fort pour affronter l’avenir.
                    Par le biais d’une méditation guidée que l’on peut comparer à une hypnose consciente, en visio, je vous guide afin de trouver et analyser d’où viennent les blessures qui vous bloquent dans votre vie actuelle.
                    Ensuite à l’aide de petits exercices que nous définissons ensemble vous effectuez le travail nécessaire afin de vous en défaire.
                    Un minimum de 3 séances est conseillé afin de vraiment faire le tour complet de ses blessures car il n’est pas possible énergétiquement et émotionnellement parlant, pour vous comme pour moi, de faire le travail en une seule séance d’1h30.
                </p>
                <span>Le bien être par le déblocage des blessures passées : 70 € la séance / 195 € les 3 séances</span><button class="cta valid-cta">Ajouter au panier</button>
            </div>
        </div>

    </div>
</div>