@import "../../../styles.scss";

.fullpage{
  overflow-y: auto;
}
.guidance{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
    padding: 20px;
    margin: 20px 15vw 20px 15vw;
}
.guidance img{
    width: 250px;
    height: auto;
}
.description{
    padding: 20px;
}
.puce-lotus{
    list-style-image: url('../../../assets/puce.png');
    list-style-position: inside;
}