<div class="fullpage">
    <app-header></app-header>
    <h2 class="subtitle title-font">Les guidances</h2>
    <div class="all-guidance">
        <div  *ngFor="let guidance of allGuidances">
            <div class="guidance white-background">
                <img src={{guidance.img}}>
                <div class="description lotus-parent">
                    <h2>{{guidance.title}}</h2>
                    <p id={{guidance.id}}>{{processString(guidance.content, guidance.id)}}
                    </p>
                    <span>{{guidance.title}} : {{formatagePrix(guidance.price_cents)}}</span><button (click)="shopping_add(guidance.id, guidance.title)" class="cta valid-cta">Ajouter au panier</button>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-toast></ng-toast>