<div class="fullpage">
    <app-header></app-header>
    <h2 class="subtitle title-font">Shopping</h2>
    <table>
        <caption>
          Votre panier actuel
        </caption>
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Désignation</th>
            <th scope="col">Quantité</th>
            <th scope="col">Prix unitaire</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let article of allShoppings">
            <th scope="row"><img src={{article.img}}></th><!-- image-->
            <td>{{article.name}}</td><!-- designation-->
            <td class="quantity">
              <mat-icon (click)="quantity_remove(article.id, article.category)" svgIcon="moins" aria-hidden="false" aria-label="svg icon"></mat-icon>
              {{article.quantity}}
              <mat-icon (click)="quantity_add(article.id, article.category)" svgIcon="plus" aria-hidden="false" aria-label="svg icon"></mat-icon>
            </td><!-- quantité-->
            <td>{{formatagePrix(article.price)}}</td><!-- prix unitaire-->
            <td>{{formatagePrix(article.quantity*article.price)}}</td><!-- totla-->
          </tr>
          
      </tbody>
      <tfoot>
        <tr>
          <th scope="row" colspan="4">Total: </th>
          <td>{{formatagePrix(this.total)}}</td>
        </tr>
      </tfoot>
    </table>
    <button type="submit" class="cta valid-cta">Passer commande</button>
</div>