@import '../../../styles/mixins';
@import '../../../styles/global-styles';

.fullpage{
    @include fullpage;
}
.subtitle{
    @include subtitle;
}
.title-font{
    @include title-font;
}
.white-background{
    @include white-background;
}

.legalnotice{
    width: 80vw;
    height: 70vh;
    overflow-y: scroll;
    margin: 0 10vw 0 10vw;
}
