<div class="fullpage">
    <app-header></app-header>
    <h2 class="subtitle title-font">Connexion</h2>
    <div class="connexion-form">
        <div class="old white-background">
          <h4>Déja membre</h4>
            <form [formGroup]="formOld" (ngSubmit)="onSubmitOld($event)" class="formulaire text-font">
                <label>
                    Votre email:<br>
                    <input type="email" formControlName="email" class="name-email-mdp">
                </label>
                  <br>
                <div *ngIf="formOld.get('email')?.errors && formOld.get('email')!.errors!['required']">L'email nom est requis.</div>
                <div *ngIf="formOld.get('email')?.errors && formOld.get('email')!.errors!['minlength']">L'email nom doit contenir au moins 6 caractères.</div>
                <div *ngIf="formOld.get('email')?.errors && formOld.get('email')!.errors!['maxlength']">L'email doit contenir au maximum 100 caractères.</div>
                <div *ngIf="formOld.get('email')?.errors && formOld.get('email')!.errors!['email']">L'email doit être de la forme: nom @ site . extension</div>
                <label>
                    Votre mot de passe:<br>
                    <input type="password" formControlName="mdp" class="name-email-mdp">
                </label>
                <br>
                <div *ngIf="formOld.get('mdp')?.errors && formOld.get('mdp')!.errors!['required']">Le mot de passe est requis.</div>
                <div *ngIf="formOld.get('mdp')?.errors && formOld.get('mdp')!.errors!['minlength']">Le mot de passe doit contenir au moins 6 caractères.</div>
                <div *ngIf="formOld.get('mdp')?.errors && formOld.get('mdp')!.errors!['maxlength']">Le mot de passe doit contenir au maximum 22 caractères.</div>
                <div *ngIf="formOld.get('mdp')?.errors && formOld.get('mdp')!.errors!['pattern']">Le mot de passe doit contenir au moins une majuscule, une minuscule, un chiffre et un caractère spécial.</div>
                <a routerLink="/inscription">Pas encore inscrit</a>
                <button *ngIf="formOld.get('email')?.errors || formOld.get('mdp')?.errors" class="cta invalid-cta" type="submit">Envoyer</button>
                <button *ngIf="!formOld.get('email')?.errors && !formOld.get('mdp')?.errors" class="cta valid-cta" type="submit">Envoyer</button>
              </form>
        </div>
    </div>
</div>

<ng-toast></ng-toast>